.illustration
    position: absolute
    right: 8vw
    top: 15vh
    z-index: -1

.hero-container
    width: 40vw
    position: absolute
    left: 4vw
    top: 10%

.demo-container
    position: absolute
    // left: 40vw
    top: 60%
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

.illustration2
    position: absolute
    left: 4vw
    top: 100vh

.feature-container
    position: absolute
    right: 10%
    top: 100vh
    width: 45vw

.common-hero-container
    position: absolute
    top: 170vh
    width: 100%
    height: fit-content
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: nowrap

.common-hero-sizer
    position: absolute
    width: 50%
    // margin: 0 auto
    // margin: 500px
