.rb-container
    position: absolute
    top: 10vh
    right: 7vw
    background-color: #fbfbfb
    width: 23vw
    height: 87vh
    text-align: left
    padding: 0 100px

.rb-cost-text
    background-color: #e9f0f7
    position: absolute
    top: 15%
    left: 25%

    text-align: center

    min-width: 50%
    max-width: fit-content
    padding: 10px
    color: #515070
    font-weight: bold

    border-radius: 8px

    display: flex
    align-items: center
    justify-content: center

.rb-gst-container
    color: #515070
    line-height: 15px
    font-size: 24px
    position: absolute
    top: 30%
    left: 25%

.rb-receipt-number-container
    position: absolute
    top: 2%
    left: 25%

    text-align: center

    width: 50%

    color: #515070
    font-size: 24px

.rb-payment-container
    position: absolute
    top: 60%
    left: 25%

    text-align: center

    min-width: 50%
    max-width: fit-content
    padding: 10px
    color: #515070
    font-weight: bold

    border-radius: 8px

    display: flex
    align-items: center
    justify-content: center

.rb-payment-input
    width: 100%
    color: #515070
    background-color: #e9f0f7
    padding: 10px
    text-align: center
    border-radius: 8px
    font-size: 18px
    border: none

.rb-change-add-container
    position: absolute
    top: 65%
    left: 25%

    text-align: center

    min-width: 50%
    max-width: fit-content
    padding: 10px
    color: #515070
    font-weight: bold

    border-radius: 8px

    display: flex
    align-items: center
    justify-content: flex-start
    
.rb-change-text
    display: block
    margin-top: 15px
    padding: 10px 0
    font-size: 24px
    font-weight: 400
    line-height: 15px

.rb-print-container
    position: absolute
    top: 70vh

    width: inherit
    height: 100px
    display: flex
    justify-content: center
    align-items: center

.rb-cancel
    text-align: center
    border: none
    background-color: #fbfbfb
    width: 100%
    font-size: 22px
    cursor: pointer
    transition: all 0.1s ease-out
    border-radius: 4px
    padding: 5px 0

    &:active
        background-color: #ff8e6e
        color: white
